# Data structs+objects

#data structure or objects 

storing data in our computer memory

In [1]:
# integer 

# whole number

a = 10
b = 45

In [2]:
a + b

55

In [3]:
# to identify the type of data we can see Type(_) function 
type(a)

int

In [4]:
# floating numbers / float

c = 7.1
d = 8.6

In [5]:
c + d

15.7

In [6]:
type(d)

float

In [7]:
name = "neha"
name1 = "bhagyashri"

In [8]:
name1

'bhagyashri'

In [10]:
name +" " +  name1

'neha bhagyashri'

In [11]:
type(name)

str

# List

In [12]:
# a list is a container which can hold different data types in it

In [15]:
lst = ["sai", 10, 234, 45.67, [5,6,7]]

In [16]:
lst

['sai', 10, 234, 45.67, [5, 6, 7]]

In [17]:
lst[4]

[5, 6, 7]

In [18]:
lst[4][1]

6

In [33]:
# list is complex data type which is
# derived from list object
#list elements are always stored in orderd sequence of 
#number starting from 0
# every object will have some method,
# lets see list objects  method

In [23]:
lst.append("kiran") # append actually adds the values in the end

In [22]:
lst

['sai', 10, 234, 45.67, [5, 6, 7], 'kiran']

In [24]:
lst.index(10)

1

In [25]:
lst[-1]

'kiran'

In [30]:
lst[-6]

10

In [29]:
lst[1]

10

In [32]:
lst[-3][1]

6

# dict- dictionaries

In [34]:
# this is key value pair data structure, it is complex, 
#it is an object of dict class of python
# data is stored like ->
# {"key", "value"}

In [36]:
dit = {"name":"sai","age":"30", 
       "number":123456, "email":"sai@letsupgrade.in"}

In [37]:
dit

{'name': 'sai', 'age': '30', 'number': 123456, 'email': 'sai@letsupgrade.in'}

In [45]:
#retriving a value  from
dit.get("name")

In [39]:
dit.items()

dict_items([('name', 'sai'), ('age', '30'), ('number', 123456), ('email', 'sai@letsupgrade.in')])

In [40]:
dit.keys()

dict_keys(['name', 'age', 'number', 'email'])

In [41]:
dit.pop()

TypeError: pop expected at least 1 argument, got 0

In [42]:
dit.pop("name")

'sai'

In [43]:
dit

{'age': '30', 'number': 123456, 'email': 'sai@letsupgrade.in'}

In [44]:
# adding new elements  dit
dit["school"] = "kvs"

In [46]:
dit

{'age': '30', 'number': 123456, 'email': 'sai@letsupgrade.in', 'school': 'kvs'}

In [47]:
#sets are used for storing unique values in the python
# sets are complex data structure 
#sets are class in python , whos objectcan be  derived 
# sets are mostly used for finding UNION,DISJOIN and finding common uncommon in the python data type

In [49]:
st = {"sai","letsupgrade",1,2,3,4,4,5,5,6,7}

In [50]:
st

{1, 2, 3, 4, 5, 6, 7, 'letsupgrade', 'sai'}

In [51]:
st1 = {"sai",1}

In [52]:
st1.issubset(st)

True

# Tuple

In [54]:
#tuples are ordered immuatable collection of objects
# once the data is written its in that for ever
#it can be changed
#example?

In [55]:
tup = ("sai","@","letsupgrade.in")

In [56]:
tup

('sai', '@', 'letsupgrade.in')

In [58]:
tup.count("@")

1

In [59]:
tup.index("letsupgrade.in")

2

In [60]:
#boolean

In [61]:
#this is basic data type which stores true or false

In [63]:
abc = True

In [64]:
xyz = False